# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/

# Data / outputs
*.log
*.tmp
*.csv
*.hdf5
*.npy
*.npz

# Editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db